@model APTACONF.Models.reservationtable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reservationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conferenceid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conferenceid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guestid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guestid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
